html {
    font-family: "Inconsolata", "arial";
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
}

.navigation-bar {
    background-color: gray;
    padding: 1% 2% 100% 1%;
    text-transform: uppercase;

}


/*opacPurple-color: #6272a4;*/


/*blue*/
.nav-item1 {
    color: #8be9fd;
}

/*green*/
.nav-item2 {
    color: #50fa7b;
}

/*orange*/
.nav-item3 {
    color: #ffb86c;
}

/*pink*/
.nav-item4 {
    color: #ff79c6;
}

/*purple*/
.nav-item5 {
    color: #bd93f9;
}

/*white*/
.nav-item6 {
    color: #f8f8f2;

}

/*yellow*/
.nav-item7 {
    color: #e6db74;
}

li {
    padding: 3%;
}

i {
    padding: 3px;
    align-content: center;
    color: black;
}

.relevant {
    background-color: black;
}

.popular {
    background-color: black;
}

.github-issues {
    background-color: black;
}


.fa-wrench:before {
    content: "\f0ad";
    background: #8be9fd;
    padding: 4px;
}

.fa-code:before {
    content: "\f121";
    background: #50fa7b;
    padding: 4px;
}

fa-stack-overflow:before {
    content: "\f16c";
    background: #ffb86c;
    padding: 4px;
}