html {
    font-family: "Inconsolata", "arial";
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
}

.navigation-bar {
    background-color: gray;
    padding: 1% 2% 1%;
    text-transform: uppercase;
    height: 100%;
    width: 25%;

}


/*styles for the icons in the navigation-bar div*/

.fa-wrench:before {
    content: "\f0ad";
    background: #8be9fd;
    padding: 7px;
}

.fa-code:before {
    content: "\f121";
    background: #50fa7b;
    padding: 5px;
}



.fa-stack-overflow:before {
    content: "\f16c";
    background: #ffb86c;
    padding: 9px;
}

.fa-chart-line:before {
    content: "\f201";
    background: #ff79c6;
    padding: 7px;
}

.fa-pencil-alt:before {
    content: "\f303";
    background: #bd93f9;
    padding: 7px;
}

.fa-lightbulb:before {
    content: "\f0eb";
    background: #f8f8f2;
    padding: 9px;
}

.fa-question:before {
    content: "\f128";
    background: #e6db74;
    padding: 8px;
}


.popular {
    background-color: pink;
    padding: 1% 2% 1%;
    height: 100%;
    width: 25%;

}


/*opacPurple-color: #6272a4;*/

/*colors*/
/*blue*/
.nav-item1 {
    color: #8be9fd;
}

/*green*/
.nav-item2 {
    color: #50fa7b;
}

/*orange*/
.nav-item3 {
    color: #ffb86c;
}

/*pink*/
.nav-item4 {
    color: #ff79c6;
}

/*purple*/
.nav-item5 {
    color: #bd93f9;
}

/*white*/
.nav-item6 {
    color: #f8f8f2;

}

/*yellow*/
.nav-item7 {
    color: #e6db74;
}

li {
    padding: 5%;
}

i {
    padding: 3px;
    align-content: center;
    color: black;
}

.relevant {
    background-color: black;
    height: 25%;
    width: 25%;
}



.github-issues {
    background-color: black;
    height: 25%;
    width: 25%;
}