html {
    font-family: "Inconsolata", "arial";

}


.gray {
    color: #858587;
}


.container {
    display: inline-flex;
    flex-grow: 1;
    /*
   flex-grow: fills up the rest of the div
   */


}






nav {
    background-color: #44475a;
    padding: 1% 1% 100%;
    text-transform: uppercase;
    /*height: 100%;*/
    width: 15%;
    overflow-y: hidden;


}

ul {
    padding-inline-start: 5px;
}

aside {
    padding: 60% 10% 20% 5%;
    color: white;
    /*this colors the icon's color to white*/
    text-align: center;
}





/*styles for the icons in the nav element*/

.fa-wrench:before {
    content: "\f0ad";
    background: #8BE9FC;
    /*BLUE*/
    padding: 7px;
    border-radius: 4px;
}

.fa-code:before {
    content: "\f121";
    background: #74F27C;
    /*GREEN*/
    padding: 5px;
    border-radius: 4px;
}



.fa-stack-overflow:before {
    content: "\f16c";
    background: #F7B76B;
    /*ORANGE*/
    padding: 9px;
    border-radius: 4px;
}

.fa-chart-line:before {
    content: "\f201";
    background: #ED76C5;
    /*PINK*/
    padding: 7px;
    border-radius: 4px;
}

.fa-pencil-alt:before {
    content: "\f303";
    background: #bd93f9;
    /*PURPLE*/
    padding: 7px;
    border-radius: 4px;
}

.fa-lightbulb:before {
    content: "\f0eb";
    background: #f8f8f2;
    /*WHITE*/
    padding: 9px;
    border-radius: 4px;
}

.fa-lock:before {
    content: "\f023";
    color: white;

}

.fa-question:before {
    content: "\f128";
    background: #e6db74;
    /*YELLOW*/
    padding: 8px;
    border-radius: 4px;
}


.fb-background {
    color: #3B5997;
}

.lk-background {
    color: #2b7fb0;
}

.tw-background {
    /*color: #33CCFF; */
    color: #3DACED;
}

.rd-background {
    color: #5E98CC;

}


/*Popular section*/
.popular {
    background: #272936;
    padding: 1% 1% 100%;
    height: 100%;
    width: 20%;
    overflow-y: auto;
    overflow-x: hidden;



}





/*colors*/
/*blue*/
.nav-item1,
.blue {
    color: #8BE9FC;

}

/*green*/
.nav-item2,
.green {
    color: #74F27C;

}

/*orange*/
.nav-item3,
.orange {
    color: #F7B76B;
}

/*pink*/
.nav-item4,
.pink {
    color: #ED76C5;
}

/*purple*/
.nav-item5,
.purple {
    color: #bd93f9;
}

/*white*/
.nav-item6,
.white {
    color: #f8f8f2;

}

/*yellow*/
.nav-item7,
.yellow {
    color: #e6db74;
}

li {
    padding: 5%;
}

i {
    padding: 3px;
    align-content: center;
    color: black;
}

.relevant {
    background: #272936;
    padding: 1% 1% 100%;
    width: 50%;

}



.github-issues {
    background: #272936;
    padding: 1% 1% 100%;
    width: 20%;
}

/*styling for Popular Div*/


.javascript-blurb {
    color: white;
}

h4 {
    color: #8BE9FC;
    text-transform: uppercase;
    text-align: center;
}

#timestamp {
    color: #6272A4;
    font-size: 600%;
    font-weight: bold;
    padding-top: 15%;
}

.relevant table {
    color: #6272A4;
    text-align: left;
    width: 100%;
    /*expands the table to fill up the relevant div*/
    border-width: 2px;
    border-bottom-style: solid;
    border-color: #444658;

}

.relevant th {
    padding: 2%;
}